.partnersCardList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.partnersCard {
  cursor: default;
  position: relative;
  padding: 20px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-color: #fff;

  display: flex;
  align-items: center;

  opacity: 0;
  transform: translate(0px, 100%);
  transition: 0.6s ease;

  &.active {
    opacity: 1;
    transform: translate(0px, 0px);
    &:nth-child(2n) {
      transition: 0.8s ease;
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }

  & img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    aspect-ratio: 3/3;
    object-fit: contain;
    transition: 0.3s ease-in-out;
  }

  & p {
  }
}

/*smartphone*/
@media (max-width: 480px) {
  .partnersCard {
    padding: 0;
    overflow: visible;
    width: 20%;
    height: auto;

    transform: translate(0px, 50px);

    & img {
      position: static;
    }
  }
}

@media (max-width: 320px) {
}

/*tablets*/
@media (max-width: 768px) {
}

/*netbook*/
@media (max-width: 1024px) {
  .partnersCard {
    padding: 0;
    overflow: visible;
    width: 20%;
    height: auto;

    transform: translate(0px, 50px);

    & img {
      position: static;
    }
  }
}

/*computer*/
@media (max-width: 1280px) {
}
