.MyButtonMore {
  transition: 0.3s;
  text-align: center;
  background-color: #4b3621;
  color: #e6e3c4;
}

.MyButtonOrder {
  transition: 0.3s;
  text-align: center;
  color: #4b3621;
  background-color: #fff;
}
